@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

:root {
  --text-hover-color: #ff6900;
  color: #212327;
  font-family: 'Macondo', cursive;

}
body{
   background: black;

}

* {
  padding: 0;
  margin: 0;
}

.black {
  position: relative;
  background-color: black;
  height: 10vh;
}

.F1 {
  height: 90vh;
  color: white;
  background: url(../assets/image/bg6.jpg);
  
  background-position: center;
  background-size: 100vw 150vh;
  display: flex;
}

.logo {
  position: absolute;
  margin-top: 16vh;
  margin-left: 8vw;
}

.logo img {
  height: 50vh;
}
.dropdownmenu {
  right: 5vh;
  margin-top: -8vh;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.navbar {
   font-family: 'Cormorant Garamond', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #faf8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: rgb(170,132,3);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #41403a;
  margin-top: -0.5vh;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #41403a;
  margin-top: -0.5vh;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #41403a;
  margin-top: -0.5vh;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #41403a;
  margin-top: -0.5vh;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #41403a;
  min-width: 13vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content3 a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content4 a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content5 a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content5 a:hover {
  transition: 0.3s ease-in-out;
  letter-spacing: 0.09em;
}

.dropdown-content4 a:hover {
  letter-spacing: 0.09em;
  transition: 0.3s ease-in-out;
}

.dropdown-content3 a:hover {
  letter-spacing: 0.09em;
  transition: 0.3s ease-in-out;
}

.dropdown-content2 a:hover {
  transition: 0.3s ease-in-out;
  letter-spacing: 0.09em;
}

.dropdown-content a:hover {
  letter-spacing: 0.09em;
  transition: 0.3s ease-in-out;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.dropdown:hover .dropdown-content3 {
  display: block;
}

.dropdown:hover .dropdown-content4 {
  display: block;
}

.dropdown:hover .dropdown-content5 {
  display: block;
}


.social-sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-sidebar .social-icon1 {
  display: block;
  color: rgb(187, 176, 138);
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.social-sidebar .social-icon1:hover {
  color: #ffc400;
}

/* naveen */

#king{
    background: url(../assets/image/back2.jpg);
    background-size: 100% 50%;
    min-height: 230vh;
   
 }
 #section{
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 40vh;
    width: 65vw;
    background: rgb(0, 0, 0);
    box-shadow: 16 15px 20 px rgba(209, 138, 15, 0.5);
    display: flex;
    border-top-right-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    position: relative;
 }
 #section::before{
   content: '';
   top: -50%;
   left: -50%;
   background: linear-gradient(
      0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff
   );
   z-index: 1;
   width: 150%;
   height: 150%;
   position: absolute;
   transform-origin: bottom right;
   animation: animate 8s linear infinite;
 }
 
 .borderLine{
   position: absolute;
   top: 0;
   inset: 0;
 }
 .borderLine::before{
   content: '';
   top: -50%;
   left: -50%;
   background: linear-gradient(
      0deg,transparent,transparent,rgba(225, 204, 14, 0.5),rgba(225, 204, 14, 0.5),rgba(209, 138, 15, 0.5)
   );
   z-index: 1;
   width: 150%;
   height: 150%;
   position: absolute;
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -1.5s;
 }
 .borderLine::after{
   content: '';
   top: -50%;
   left: -50%;
   background: linear-gradient(
      0deg,transparent,transparent,#baa508,#ff2770,#ff2770
   );
   z-index: 1;
   width: 150%;
   height: 150%;
   position: absolute;
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -4.5s;
 }
 
 @keyframes animate{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
 }
 .cube1{
   margin: 5px;
    width:64.2vw;
    height: 39vh;
    background: #000;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 5px;
 }
 .cube1 h1{
    padding: 20px;
    color: white;
 }
 .cube1 p{
    color: white;
    margin-left: 20px;
    font-weight: 700;
 }




 #section2{
   float: right;
   margin-top: 5vh;
   margin-bottom: 15vh;
   height: 40vh;
   width: 65vw;
   background: rgb(0, 0, 0);
   box-shadow: 16 15px 20 px rgba(209, 138, 15, 0.5);
   display: flex;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   overflow: hidden;
   position: relative;
}
#section2::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 8s linear infinite;
}

.borderLine2{
  position: absolute;
  top: 0;
  inset: 0;
}
.borderLine2::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,rgba(225, 204, 14, 0.5),rgba(225, 204, 14, 0.5),rgba(209, 138, 15, 0.5)
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.borderLine2::after{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#baa508,#ff2770,#ff2770
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate{
  0%{
     transform: rotate(0deg);
  }
  100%{
     transform: rotate(360deg);
  }
}
.cube2{
  margin: 3px;
   width:64.5vw;
   height: 39vh;
   background: #000;
   box-sizing: border-box;
   z-index: 1;
   border-radius: 10px;
}
.cube2 h1{
   padding: 20px;
   color: white;
}
.cube2 p{
   color: white;
   margin-left: 20px;
   font-weight: 700;
}
 



#section3{
   margin-top: 15vh;
   margin-bottom: 15vh;
   height: 40vh;
   width: 65vw;
   background: rgb(0, 0, 0);
   box-shadow: 16 15px 20 px rgba(209, 138, 15, 0.5);
   display: flex;
   border-top-right-radius: 10px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   overflow: hidden;
   position: relative;
}
#section3::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 8s linear infinite;
}

.borderLine3{
  position: absolute;
  top: 0;
  inset: 0;
}
.borderLine3::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,rgba(225, 204, 14, 0.5),rgba(225, 204, 14, 0.5),rgba(209, 138, 15, 0.5)
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.borderLine3::after{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#baa508,#ff2770,#ff2770
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate{
  0%{
     transform: rotate(0deg);
  }
  100%{
     transform: rotate(360deg);
  }
}
.cube3{
  margin: 5px;
   width:64.2vw;
   height: 39vh;
   background: #000;
   box-sizing: border-box;
   z-index: 1;
   border-radius: 5px;
}
.cube3 h1{
   padding: 20px;
   color: white;
}
.cube3 p{
   color: white;
   margin-left: 20px;
   font-weight: 700;
}
 
#section4{
   float: right;
   margin-top: 5vh;
   margin-bottom: 15vh;
   height: 40vh;
   width: 65vw;
   background: rgb(0, 0, 0);
   box-shadow: 16 15px 20 px rgba(209, 138, 15, 0.5);
   display: flex;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   overflow: hidden;
   position: relative;
}
#section4::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 8s linear infinite;
}

.borderLine4{
  position: absolute;
  top: 0;
  inset: 0;
}
.borderLine4::before{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,rgba(225, 204, 14, 0.5),rgba(225, 204, 14, 0.5),rgba(209, 138, 15, 0.5)
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.borderLine4::after{
  content: '';
  top: -50%;
  left: -50%;
  background: linear-gradient(
     0deg,transparent,transparent,#baa508,#ff2770,#ff2770
  );
  z-index: 1;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate{
  0%{
     transform: rotate(0deg);
  }
  100%{
     transform: rotate(360deg);
  }
}
.cube4{
  margin: 3px;
   width:64.5vw;
   height: 39vh;
   background: #000;
   box-sizing: border-box;
   z-index: 1;
   border-radius: 10px;
}
.cube4 h1{
   padding: 20px;
   color: white;
}
.cube4 p{
   color: white;
   margin-left: 20px;
   font-weight: 700;
}
 
 
 
 
 
 /* cards */
 
 .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url(assets/image/back2.jpg);
    background-size: 100% 100%;
 }
 .main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 .main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
 
 }
 .container .card{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.15);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
 }
 .container .card .content1{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
   
 }
 .container .card .content1 h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
 }
 .container .card .content1 h3{
    font-size:1em;
    color: #716e6e;
    margin-top: 80px;
    z-index: 1;
 }
 .container .card .content1 p{
    font-size:1em;
    color: #6e6767;
    font-weight: 300;
 }
 .container .card .content1 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background: rgb(255, 255, 255);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* footer */
 
 .end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 20vh;
    background: #000000;
 }
 
 footer{
    position: relative;
    width: 100%;
    background: rgb(170,132,3);
    min-height: 150px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 footer .social_icon,
 footer .menu
 {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
 }
 footer .social_icon li,
 footer .menu li
 {
    list-style: none;
 }
 footer .social_icon li a
 {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
 }
 footer .social_icon li a:hover{
    transform: translateY(-10px);
 }
 footer .menu li a
 {
    font-size: 1.3em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
 }
 footer .menu li a:hover{
    opacity: 1;
    transform: scale(1.2);
    color:rgb(101, 101, 50);
 }
 footer p{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
 }
 footer .wave{
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 70%;
    background: url(../assets/image/wavee3.png);
    background-size: 1900px;
 }
 footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
 }
 footer .wave#wave2
 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
 
 }
 
 footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
 }
 footer .wave#wave4
 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 2s linear infinite;
 
 }
 @keyframes animateWave {
        0%{
            background-position-x: 1900px;
        }
        100%{
            background-position-x: 0px;
        }
 }
 
 @keyframes animateWave_02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1900px;
    }
 }

 







